USE_DOCKER="false"

KAFKA_LOOPBACK_HOST="localhost"
KAFKA_LOOPBACK_PORT="9092"

KAFKA_INTERNAL_HOST="kafka"
KAFKA_INTERNAL_PORT="29092"

KAFKA_CONTROLLER_HOST="kafka"
KAFKA_CONTROLLER_PORT="9093"

SCHEDULER_PORT="8000"
GATEWAY_PORT="8001"
REPOSITORY_STORAGE_SERVICE_PORT="8002"
REPOSITORY_SCANNER_SERVICE_PORT="8003"
LLM_SERVICE_PORT="8004"
REGISTRY_SERVICE_PORT="8005"
MCP_SERVER_PORT="8006"
SECURITY_INTELLIGENCE_SERVICE_PORT="8007"


LOCAL_OLLAMA_LOOPBACK_HOST="localhost"
LOCAL_OLLAMA_DOCKER_HOST="host.docker.internal"
LOCAL_OLLAMA_PORT="11434"
