# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environment
.venv/

# Python build artifacts
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/
